<nav class="sgds-navbar" role="navigation">
  <div class="sgds-navbar-brand">
    <div class="sgds-navbar-burger" data-target="mainnav-1">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="mainnav-1" class="sgds-navbar-menu">
    <div class="sgds-navbar-end">
      <a class="sgds-navbar-item is-uppercase is-tab" href="/">
        Public docs
      </a>
      <% if (isAuthenticated) { %>
      <a class="sgds-navbar-item is-uppercase is-tab" href="/restricted"
        >Restricted docs</a
      >
      <a class="sgds-navbar-item is-uppercase is-tab" href="/account"
        >Account</a
      >
      <a class="sgds-navbar-item is-uppercase is-tab" href="/auth/logout"
        >Log Out</a
      >
      <% } else { %>
      <a class="sgds-navbar-item is-uppercase is-tab" href="/auth/login"
        >Log In</a
      >
      <% } %>
    </div>
  </div>
</nav>
