<!-- Make sure jQuery is loaded before sgds.js -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- jsDelivr -->
<script src="https://cdn.jsdelivr.net/npm/sgds-govtech@1.3.9/js/sgds.js"></script>