<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/mainNav', { isAuthenticated }) %>

    <div class="content has-default-header-styles">
      <section class="sgds-section">
        <div class="sgds-container">
          <h1>Account</h1>
          <h2>Name</h2>
          <p><%= profile.displayName %></p>

          <h2>Email</h2>
          <p><%= profile._json.email %></p>
        </div>
      </section>

      <section class="sgds-section">
        <div class="sgds-container">
          <h2>My Docs</h2>
          <% if (!hasAuthorizedGitSource) { %>
          <a href="/git-source/authorize">Authorize Gitlab Account</a>
          <% } else { %>
          <div
            id="activate-repos"
          ></div>
          <script async src="js/bundles/activateRepo.bundle.js"></script>
          <% } %>
        </div>
      </section>
    </div>
    <%- include('partials/scripts') %>
  </body>
</html>
