<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//unpkg.com/docsify/themes/buble.css">
  </head>
  <body>
    <%- include('partials/docNav') %>
    <div id="app">Please wait...</div>
    <script>
      window.$docsify = {
        el: "#app",
        loadSidebar: true
      };
    </script>
    <script src="//unpkg.com/docsify/lib/docsify.min.js"></script>
  </body>
</html>
