<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/mainNav', { isAuthenticated }) %>
    <div class="content has-default-header-styles">
      <section class="sgds-section">
        <div class="sgds-container">
          <h1>Developer Documentation</h1>
        </div>
      </section>
      <section class="sgds-section">
        <div class="sgds-container">
          <h2>Public docs</h2>
          <ul>
            <% for (let project of projects) { %>
              <li>
                <a href="<%= project.docPortal.path %>"><%= project.name %></a>
              </li>
            <% } %>
          </ul>
        </div>
      </section>
    </div>
    <%- include('partials/scripts') %>
  </body>
</html>
