<template>
  <div>
    <p v-if="this.fetchingProjects">Fetching projects...</p>
    <div v-else class="sgds-card" v-for="(project) of projects" :key="project.id">
      <div class="sgds-card-content">
        <Project :project="project" @project-updated="updateProject" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Project from "./Project.vue";
export default {
  components: { Project },
  data() {
    return {
      projects: [],
      fetchingProjects: false
    };
  },
  methods: {
    updateProject({ projectId, payload }) {
      this.projects = this.projects.map(project => {
        if (project.id === projectId) {
          return {
            ...project,
            ...payload
          };
        }
        return project;
      });
    }
  },
  created() {
    this.fetchingProjects = true;
    axios.get(`/git-source/projects`).then(res => {
      // Add hooks object for each project for population
      this.projects = res.data.map(projectData => ({
        ...projectData,
        hooks: []
      }));
      this.fetchingProjects = false;
    });
  }
};
</script>
