<template>
  <div class="project-view">
    <p>
      <a :href="project.http_url_to_repo">{{project.path_with_namespace}}</a>
      {{isActivated ? `(${project.kind})` : '' }}
    </p>
    <span class="project-actions">
      <template v-if="fetchingDetails">Checking...</template>
      <template v-else>
        <template v-if="showActivateConfirmation">
          <button class="sgds-button" @click="activateProject('public')">Public</button>
          <button class="sgds-button" @click="activateProject('restricted')">Restricted</button>
          <button class="sgds-button" @click="showActivateConfirmation = false">Cancel</button>
        </template>
        <button
          v-if="project.hooks.length === 0"
          class="sgds-button is-primary"
          @click="onActivateClick"
          :disabled="activating"
        >Activate</button>

        <template v-if="showDeactivateConfirmation">
          Are you sure?
          <button class="sgds-button is-danger" @click="deactivateProject">Confirm</button>
          <button class="sgds-button" @click="showDeactivateConfirmation = false">Cancel</button>
        </template>
        <button
          v-if="project.hooks.length !== 0"
          class="sgds-button"
          @click="onDeactivateClick"
          :disabled="deactivating"
        >Deactivate</button>
      </template>
    </span>
  </div>
</template>

<script>
import axios from "axios";
export default {
  props: {
    project: Object
  },
  data() {
    return {
      fetchingDetails: false,
      activating: false,
      deactivating: false,
      showActivateConfirmation: false,
      showDeactivateConfirmation: false
    };
  },
  methods: {
    onActivateClick() {
      this.showActivateConfirmation = true;
    },
    activateProject(kind) {
      this.showActivateConfirmation = false;
      this.activating = true;
      axios
        .post(`/git-source/projects/${this.project.id}/hooks`, { kind })
        .then(response => {
          this.$emit("project-updated", {
            projectId: this.project.id,
            payload: {
              kind,
              hooks: [response.data.hook]
            }
          });
          this.activating = false;
        });
    },
    onDeactivateClick() {
      this.showDeactivateConfirmation = true;
    },
    deactivateProject() {
      this.showDeactivateConfirmation = false;
      this.deactivating = true;
      axios
        .delete(
          `/git-source/projects/${this.project.id}/hooks/${this.project.hooks[0].id}`
        )
        .then(response => {
          this.$emit("project-updated", {
            projectId: this.project.id,
            payload: {
              hooks: []
            }
          });
          this.deactivating = false;
        });
    }
  },
  created() {
    this.fetchingDetails = true;
    axios.get(`/git-source/projects/${this.project.id}/hooks`).then(res => {
      this.fetchingDetails = false;
      this.$emit("project-updated", {
        projectId: this.project.id,
        payload: {
          hooks: res.data.hooks,
          kind: res.data.kind
        }
      });
    });
  },
  computed: {
    isActivated() {
      return this.project.hooks && this.project.hooks.length > 0;
    }
  }
};
</script>

<style scoped>
.project-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-actions {
  display: flex;
  align-items: center;
}
.project-actions * {
  margin: 0 1rem;
}
</style>